{% extends "base.html" %}

{% block body_content %}
  
  {% for tool in tools %}
    
    <div class="tool_listing clearfix">
      <span class="tooltitle"><a href="{% url "tool_page" tool.id %}">{{ tool.name }}</a></span>
      <span class="tooldescription">{{ tool.description }}</span>
      <span class="toolstats">Filed under {% for category in tool.categories.all %}
        <a href="{% url "category_page" category.id %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
      </span>
    <div class="toolactions">
      {% if user.is_authenticated %}<div class="addbutton">
        <a href="#" class="addbutton_toggle">Add this to a toolbox</a>
        <ul class="toolboxlist unstyled" style="display:none">
          {% for toolbox in user.toolboxes.all %}
            {% if tool not in toolbox.tools.all %}
              <li><a href="{% url "add_tool_to_toolbox" toolbox.id tool.id %}">Add to {{ toolbox.name }}</a></li>
            {% else %}
              <li><a href="{% url "remove_tool_from_toolbox" toolbox.id tool.id %}">Remove from {{ toolbox.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>{% endif %}
      {% ifequal tool.user user %}
      <a href="{% url "delete_tool" tool.id%}">Delete this tool</a>
      {# <a href="/tool/{{ tool.id}}/edit">Edit this tool</a> #}
      {% endifequal %}
    </div>

  
    </div>

  {% endfor%}

  {% if toolbox %}
    <hr />
      <div class="toolactions">
        <a class="solo" href="{% url "delete_toolbox" toolbox.id %}" class="addtool">Delete this toolbox</a>
      </div>
  {% endif %}

{% endblock %}}